.main{
	background-color: #3b5998;
}
.header {
	width: 980px;
	height: 70px;	
	margin: 0 auto;
}
.logo, .login {
	width: 50%;
	height: 100%;
	float: left;
}
.logo{
}
.login {
}
h1 u  {
	color: white;
}
._label {
	margin: 0px 80px;
}
._input {
	margin-left: 10px; 
}
._link {
	margin: 0px 180px;
}
._main2{
    background: linear-gradient(white, #D3D8E8);
}			
}
._img {
	height: 1000px;
	width: 980px;
	margin: 0 auto;	
}
._5iyx,._sign-up
 {
 	float: left;
	width: 50%;
}
._sign-up{
	margin-right:;
}
a {
	color: #365899
	cursor: pointer;
	text-decoration: none;
}
i {
	font-style: italic;
	cursor: auto;
}
h1 {
	display: inline-block;
	font-size: 2em;
	-webkit-margin-before:0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;	
	cursor: auto;
	color: white;
}

._5iyx{
	width: 580PX;
	height: 297PX;
	margin: 50px 0;
}
._sign-up{
	width: 400PX;
	height: 385px;
	margin: 50px 0;


}

._img {
	height: 1000px;
	width: 980px;
	margin: 0 auto;
}
._note{
	color: black;
}  	
._accounts {
  width: 400px;
  height: 385;
}
input {
	border-radius: 5px; 
	border: 1px solid #bdc7d8;
	padding: 3px
}
._name{
	height: 39px;
}
._1input,._email{
	width: 399px;
	height: 39px;
}
.name{
	width: 190px;
	height: 39px;
}