*{
	list-style-type: none;
}
body{  
    line-height: 1.34;
    margin: 0;
    padding: 0;
}
.main{
	background-color: #3b5998;
}
.header {
	width: 980px;
	height: 70px;	
	margin: 0 auto;
}
.logo, .login {
	width: 50%;
	height: 100%;
	float: left;
}
.logo{
}
.button {
	margin-left: 5px;
}
h1 em  {
	color: white;
}
._label {
	margin: 0px 80px;
}
._input {
	margin-left: 10px; 
}
._link {
	margin: 0px 180px;
}
._form a {
	color: white;
}
._main2{
	width: 100%;
	height: 586px;
    background: linear-gradient(white, #D3D8E8);
}			
}
._img {
	height: 586px;
	width: 980px;
	margin: 0 auto;	
}
._5iyx,._sign-up
 {
 	float: left;
	width: 50%;
}
._sign-up{

}
a {
	color: #365899;
	cursor: pointer;
	text-decoration: none;
}
i {
	font-style: italic;
	cursor: auto;
}
h1 {
	display: inline-block;
	font-size: 2em;
	font-weight: bold;	
	cursor: auto;
	color: white;
}

._5iyx{
	width: 580PX;
	height: 297PX;
	margin: 50px 0;
}
._sign-up{
	width: 400PX;
	height: 385px;
}

._img {
	height: 586px;
	width: 980px;
	margin: 0 auto;
}
._create{
	font-size: 26px;
	margin: 0px;
}
._note{
	font-size: 19px;
	margin: 0px;
}  	
._accounts {
  width: 400px;
  height: 385;
}
input {
	border: 1px solid #bdc7d8;
	padding: 3px
}
._name{
	height: 39px;

}
._1input,._email{
	width: 399px;
	height: 39px;
	border-radius: 5px;	
}
.name{
	border-radius: 5px;
	width: 190px;
	height: 29px;
	margin-bottom: 20px;
}
._58mv, ._58ms{
	font-size: 11px;
}
._58mv{
	margin:-10px 0px 0px;
}
._58mk{
	margin: 30px 0;
}
._footer{
	margin: 0 auto;
	width: 980px;
	color: #737373;
	font-size: 13px;
}
._1footer, ._2footer, ._3footer{
	margin: 0px auto;


}
 li {
     margin: 0px 0px 10px 0px;
	display: inline-block;
}
#contentCurve {
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
}
._2footer {
	width: 894px;
	 margin-left: 0px;
	color: #737373;
}
._2footer li {
	 margin: 0px 0px 10px 10px;
     
}
._3footer{
	margin: 0 50px;
}