.lfloat_ohe {
	float: left;
}

a {
	color: #365899
	cursor: pointer;
	text-decoration: none;
}
i {
	font-style: italic;
	cursor: auto;
}
h1 {
	display: inline-block;
	font-size: 2em;
	-webkit-margin-before:0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;	
	cursor: auto;
	color: white;
}
.menu_login {
	float: right;
}
body {
    background: #fff;
    color: #1d2129;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
    }
.loggedout_menubar {
    margin: 0 auto;
    padding-top: 13px;
    width: 980px;
}
._ohe {
    float: left;
}
._ohf {
	float: right;
}
.loggedout_menubar_container {
    height: 82px;
    min-width: 980px;
    background-color: blue;
}
form {
    margin: 0;
    padding: 0;
}
.loggedout_menubar .fb_logo {
    margin-top: 17px;
}
table[Attributes Style] {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}
user agent stylesheet
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.menu_login_container table tr {
    vertical-align: top;
}
._5iyx {
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
    width: 450px;
    word-spacing: -1px;
}
._ohe {
    float: left;
}





